.text-input:error {
    -fx-border-insets: 0;
    -fx-border-width: 2px;
    -fx-border-color: red;
}

.text-input:valid {
    -fx-border-insets: 0;
    -fx-border-width: 2px;
    -fx-border-color: green;
}